@model List<DressingRoom.DRItemView>
@section metatags
{
	<meta name="robots" content="noindex">
}
<select id="aWeapon" name="aWeapon" class="btn-block DDL">
	@foreach (var item in Model)
	{
		<option value="@item.Id">@item.NAME</option>
	}
</select>