<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://temp.evs-dev.ru</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>temp.evs-dev.ru</MSDeployServiceURL>
    <DeployIisAppPath>temp.evs-dev.ru</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ftp_vh110</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=mssql.by1880.hb.by;Initial Catalog=DWAR;Integrated Security=False;User ID=yaseichyk_gmail;Password=Evs1377964;Application Name='EntityFramework&quot; providerName=&quot;System.Data.SqlClient'" Name="data source=mssql.by1880.hb.by;Database=DWAR;User ID=yaseichyk_gmail;Password=Evs1377964;initial catalog=DWAR;integrated security=False;MultipleActiveResultSets=true;application name=EntityFramework&quot; providerName=&quot;System.Data.SqlClient" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Pets.Model, Pets" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ConnectionString-Web.config Connection String">
      <ParameterValue>data source=mssql.by1880.hb.by;Database=DWAR;User ID=yaseichyk_gmail;Password=Evs1377964;initial catalog=DWAR;integrated security=False;MultipleActiveResultSets=true;application name=EntityFramework" providerName="System.Data.SqlClient</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>